html {
    scroll-behavior: smooth;
}
body{
    font-family: serif !important; 
    background-color: #f5f5f5 !important;
}


#main {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #74fa89;
    font-family: serif;
    user-select: none;
}
.welcome {
    font-family: serif;
    font-size: 20px;
    margin: auto 30px ;
    
}



.field {
    line-height: 30px;
}

.field h1 {
    color: rgb(3, 87, 3);
    font-size: 35px;
    font-weight: bold;
    
}

.field .p {
    height: 2px;
    width: 120px;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
}

.favicon-line {
    height: 2px;
    width: 70px;
    margin: 24px 10px;
    background-color: black;
}

.favi-div {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    user-select: none;

}

.skill , .work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    background-color: whitesmoke; 
}


.skill div {
    width: 300px;
    height: 200px;
    margin: 20px 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 8px green;
    background-color: white;
    
}

.work-1 {
    display: flex;
    justify-content:space-between;
    width: 400px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    margin: 20px 30px;

}
.work-1 div {
    border-radius: 10px;
    overflow: hidden;
    
}
.cont{
    text-align: center !important;
    margin: auto;
    width: 200px;
}

.work-1 button{
  width: 100px;
  outline: none;
  border: 1px solid green;
  background-color: green;
  border-radius: 5px;

}

.work-1 a {
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: white;
  
}
.work-1 button:hover{
  background-color: white;
  color: green;
  opacity: 0.8;
}
.work-1 a:hover {
  text-decoration: none;
  color: green;

}

@media (max-width: 770px) {
    
    .skill div{
        width: 130px;
        height: 200px;
        margin: 20px 20px;
        padding-top: 20px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 2px 8px green;
        background-color: white;

    }
    
}

@media (max-width: 400px) {

    .skill div{
        width: 120px;
        height: 200px;
        margin: 20px 10px;
        padding-top: 20px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 2px 8px green;
        background-color: white;
    }
    .work-1{
        width: 300px;
        margin: 20px 10px;
    }
    .work-1 img{
        width: 150px;
        height: 150px;
    }
    .cont{
        width: 150px;
    }
}



.fa {
    padding: 10px;
    font-size: 30px !important;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration-line: none; 
    background-color:#005dab;
    color: white;
    margin: 20px 5px;
    border-radius: 50%;
}  

.fa-whatsapp {
    background-color: #09b122;
    border-radius: 50%;
    
}

.fa:hover {
    color: white;
    opacity: 0.8;
    text-decoration:none;
    transition: 1s;
}
h4 {
    font-weight: bold;
    text-shadow: 2px 2px 5px ;
    
}

.links .fa {
    background-color: rgb(51, 50, 50);
    
}


.sticky {
    position: sticky !important;
    top: 0;
    
}

.sidenav {
    height: 100%;
    width : 250px;
    margin-left: -250px ;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .sidenavtop {
      padding: 20px;
      background-color: #74fa89;
      height: 90px;
      overflow: hidden;
  }
  
  .sidenav a {
    padding-top: 10px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
  }
  #navbar {
      padding: 10px;
      font-size:30px;
      cursor:pointer;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  